*, *::before, *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body, html {
    margin: 0;
    padding: 0;
}

* a {
    text-decoration: none;
    font-size: 15px;
    color: blue;
    font-weight: 700;
}
@font-face {
    font-family: LogoFont;
    src: url(./fonts/Ubuntu-Title.ttf);
}
@font-face {
    font-family: Normal;
    src: url(./fonts/monog___.ttf);
}
@font-face {
    font-family: Regular;
    src: url(./fonts/fontawesome-webfont.ttf);
}

.nav .container .brand{
    position: absolute;
    top: 0%;
    left: 40%;
    font-family: "Trebuchet MS", serif;
    font-size: 3rem;
    font-weight: 600;
    /*color: #ce3429;*/
    margin-top: 10px;
    text-align: center;
    -webkit-animation: Login 5s infinite forwards ease;
    -webkit-transition: all .5s 0s cubic-bezier(.05, .65, 1, 0);
}

/*@-webkit-keyframes Login {
    0% {
        -webkit-transform: rotateX(0deg);
    }
    100% {
        -webkit-transform: rotateX(360deg);
    }
}*/

.nav {
    width: 100%;
    border-bottom: 1px solid yellow;
    -webkit-box-shadow: 0px 5px 10px -4px rgba(255,28,28,0.75);
    background-image: url('./img/cubes.png');
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}

.nav a{
    color: black;
    font-size: 1rem;
    font-weight: 600;
}

.nav ul{
    display: inline;
    /*padding: 0 0 0 0;*/
}

.nav ul li{
    display: inline-block;
    margin-right: 20px;
    padding: 10px;
    /*border: 1px solid yellow;*/
    /*-webkit-box-shadow: 0px 5px 10px -4px rgba(255,28,28,0.75);*/
}

.nav .container .pull-right{
    padding-left: 45%;
}

.pull-right > a:nth-of-type(1){
    background: #51ff47;
}

.nav ul li img{
    max-height: 40px;
    max-width: 40px;
    vertical-align: middle;
    border: 2px solid white;
    border-radius: 40px;
    padding: 3px 3px;
}

.nav ul li:hover{
    background-color: #ffff8a;
    -webkit-box-shadow: 0px 0px 20px -4px rgba(9, 184, 0, 1);
}

.nav ul li a:focus{
    background-color: #fff78a;
    color: grey;
    -webkit-box-shadow: 0px 0px 20px -4px rgba(9, 184, 0, 1);
}

/*========================================*/

/* SEARCH BOX */

.searchbox {
    padding: 10px;
    margin: 0 auto;
    width: 75%;
    border-radius: 10px;
    font-family: 'Helvetica', sans-serif;
    left: 12.5%;
    bottom: -22%; /* CRAPPY SITUATION HERE NEED TO RESOLVE THIS */
    border: 4px solid white;
    position: absolute; /* When absolute taken out, top of mainblock background gives space for searcbox!!*/
    -webkit-transform: translateY(-50%);
    letter-spacing: -.025em;
    line-height: 1.5em;
    z-index: 1;
    /*position: fixed;*/
}

.searchbox input[type=text] {
    width: 75%;
 /*   border: 2px solid grey;*/
    background: -webkit-linear-gradient(top, #e4f1f9 0%, yellow 100%);
    color: #2369b3;
    font-size: 30px;
    padding: 20px 20px;
    text-align: center;
    text-transform: capitalize;
    border: none;
}

/* Placeholder styling */

::-webkit-input-placeholder, :-moz-placeholder,::-moz-placeholder, :-ms-input-placeholder {
   color: lightgrey;
   font-size: 1.2em;
}

/* ****************** */

.searchbox input[type=button] {
    display: inline-block;
    padding: 20px 20px;
    vertical-align: center;
    background: -webkit-linear-gradient(top, #e4f1f9 0%, yellow 100%);
    color: black;
    font-size: 30px;
    font-weight: 500;
    padding: 20px 5px;
    border: none;
}

input[type=text]:focus {
    background: yellow;
}
input[type=button]:hover {
    border-left: 4px solid yellow;
    background: black;
    color: yellow;
    cursor: pointer;
}

/* MAP SECTION w/ BOOTSTRAP FRAMEWORK */

.neighborhood {
    font-family: 'Open Sans', serif;
    display: inline-block;
    background-image: url('./img/img3.jpg'); /* IMAGE NOT LOADING */
    width: 100%;
    padding: 150px;
    display: inline-flex; /* NOT SUPPORTED ACROSS MULTIPLE WEB-BROWSERS */
    border-bottom: 2px dotted yellow;
    -webkit-box-shadow: 5px 5px 10px 0px rgba(100,28,28,0.75);
}

.neighborhood .sub{
    padding: 0px 50px;
}

.neighborhood h2 {
    font-size: 40px;
    color: #393C3D;
    font-weight: 600;
    letter-spacing: .03em;
}
.neighborhood p {
    font-size: 20px;
    color: #393C3D;
}

.neighborhood a {
    font-size: 20px;
    color: #00b0ff;
}

.neighborhood a:hover{
    text-decoration:overline;
}

/* MARKETING SECTION */

.marketing {
    width: 100%;
    height: 100vh;
    /*background: -webkit-linear-gradient(top, #f4fff9 0%, #ffffff 100%);*/
    font-family: 'Open Sans', serif;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
}
.marketing h2 {
    padding-bottom: 30px;
    text-transform: uppercase;
    font-size: 25px;
    color: #393C3D;
}
.marketing h3 {
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 18px;
    font-weight: bold;
}
.marketing p {
    padding: 0px 30px 30px 30px;
    font-family: 'Helvetica', sans-serif;
    letter-spacing: 0.5px;
    line-height: 1.5em;
}
.marketing a {
    color: #00b0ff;
    text-align: center;
}
.marketing a:hover{
    text-decoration:overline;
}
.marketing .sub {
    display: inline-block;
    width: 30%;
    padding: 0 20px 50px 0;
    text-align: center;
    vertical-align: top;
}

.marketing .sub img {
    padding: 10px;
    border-radius: 120px;
    border: 2px solid grey;
    width: 250px;
    height: 250px;
}

.marketing .sub img:hover {
    width: 255px;
    height: 255px;
}
/* OTHER SECTION */

.bottom {
    width: 100%;
    border-top: 2px solid grey;
    line-height: 40px;
    text-align: center;
}
.bottom ul {
    padding: 0 0 0 0;
}
.bottom ul li {
    display: inline-block;
    list-style-type: none;
    font-family: 'Helvetica', sans-serif;
    padding: 0px 10px;
}

/* Copyright */

.footer {
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 10px 0px;
    font-family: 'Trebuchet MS', serif;
    letter-spacing: 1px;
    color: darkgrey;
}

/* MEDIA QUERIES */

.grid {
    font-size: 0.1px;
    /*hide whitespace between elements*/
    text-align: justify;
}
.grid:after {
    display: inline-block;
    width: 50%;
    content:'';
}
.grid > * {
    font-size: 16px;
    font-size: 1rem;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    transition: all .25s ease;
}

@media (min-width: 480px) {
    .grid-2-480 > * {
        width: 48%;
    }
}
@media (min-width: 800px) {
    .grid-2-800 > * {
        width: 48%;
    }
    .grid-3-800 > * {
        width: 30%;
    }
}
@media (min-width: 1024px) {
    .grid-2-1024 > * {
        width: 48%;
    }
    .grid-3-1024 > * {
        width: 30%;
    }
}

/* ---------------- animations */
 @keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(2em);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}